<navbar>
  <li class="nav-item nav-link dropdown" [class.show]="showDropDown">
    <p class="navbar-link dropdown-toggle package_title" (click)="showDropDown = !showDropDown">
      {{name}}
    </p>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" [class.show]="showDropDown">
      <a *ngFor="let package of packages" class="dropdown-item" (click)="navigateTo(package.package_id)">{{package.name}}</a>
    </div>
  </li>
  <li class="nav-item"  routerLinkActive="active">
    <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item" routerLinkActive="active" [class.disabled]="status==6">
    <a class="nav-link" [routerLink]="['template']" [class.disabled]="status==6">Templates</a>
  </li>
  <li *ngIf="!active_template" class="nav-item disabled" tooltip="Select any template before you can modify it" tooltipPlacement="bottom" tooltipOpacity="0.8">
    <a class="nav-link disabled noselect">Workflow</a>
  </li>
  <li *ngIf="active_template" class="nav-item" routerLinkActive="active" [class.disabled]="status==6">
    <a class="nav-link" [routerLink]="['edit']" [class.disabled]="status==6">Workflow</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['status']">Status</a>
  </li>
</navbar>

<router-outlet></router-outlet>
