
<div class="row numberRow">
  <div class="col-md-4 col-sm-4 col-xs-6">
    <p class="numberTitle">
      Total Files:
    </p>
    <p class="number">
      {{total_number_of_files}}
    </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 divider">
    <p class="numberTitle">
      Total Filesize:
    </p>
    <p class="number">
      {{total_size}}
    </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 divider">
    <button class="btn btn-success browse" (click)="openFileBrowser()">Browse package</button>
  </div>
</div>

<div class="progress border border-primary">
  <div
    *ngFor="let process of package.processes"
    class="progress-bar text-dark text-center"
    [style.width]="process.progress/package.processes.length + '%'"
    [class.bg-success]="process.status == 'Done'"
    [class.bg-danger]="process.status == 'Error'"
    [class.progress-bar-animated]="process.status == 'Running'"
    [class.progress-bar-striped]="process.status == 'Running'"
    >
  </div>
</div>

<div class="card filetypes">
  <ngx-charts-advanced-pie-chart
    [scheme]="colorScheme"
    [results]="fileTypes"
    [gradient]="gradient"
    label="Files">
  </ngx-charts-advanced-pie-chart>
</div>

<filebrowser [(active)]="browserActive" [path]="browserPath"></filebrowser>
