<p>Package Dashboard</p>

<p>filetypes in package, size of package, number of files, </p>



<!-- <ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="fileTypes"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient"
  (select)="onSelect($event)">
</ngx-charts-pie-chart> -->

<ngx-charts-advanced-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="fileTypes"
  [gradient]="gradient"
  (select)="onSelect($event)"
  label="Filetypes">
</ngx-charts-advanced-pie-chart>

<ngx-charts-gauge
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [min]="0"
  [max]="100"
  [angleSpan]="240"
  [startAngle]="-120"
  [units]="'alerts'"
  [bigSegments]="10"
  [smallSegments]="5"
  (select)="onSelect($event)">
</ngx-charts-gauge>
