<div class="row">
    <div class="col-lg-6">
        <h4>Current workflow</h4>
        <div class="card">
            <div class="card-header">
                Name
            </div>
            <div class="list-group list-group-flush">
              <!-- <div *ngIf="placeholderLocation==0.5" class="list-group-item list-group-item-action">
              </div> -->
                <ng-template
                ngFor
                let-process
                [ngForOf]="package.processes"
                >
                  <div
                      *ngIf="!process.hidden"
                      draggable="true"
                      (dragstart)="dragStart($event, process.process_id, 'process')"
                      (drop)="onDrop($event)"
                      (dragover)="allowDrop($event, process.order)"
                      class="list-group-item list-group-item-action"
                      [class.active]="process.process_id==selected_process_id"
                    >
                    <div class="d-flex w-100 justify-content-between">
                        <p
                        style="margin-bottom:0;" class="d-flex w-100 noselect" (click)="selectProcess(process)">
                          {{process.name}}
                        </p>
                        <!-- <i class="material-icons">arrow_back</i> -->
                        <i *ngIf="process.order != 0" class="material-icons icon-button" (click)="moveUp(process)">keyboard_arrow_up</i>
                        <i *ngIf="process.order < package.processes.length-1" class="material-icons icon-button" (click)="moveDown(process)">keyboard_arrow_down</i>
                        <i class="material-icons icon-button" (click)="deleteProcess(process.process_id)">delete</i>
                        <small>{{process.status}}</small>
                    </div>
                    <ng-template [ngIf]="process.process_id==selected_process_id">
                        <form *ngIf="process.form.length>0">
                                <label *ngFor="let input of process.form" for="{{input.identifier}}" class="input-label">
                                  {{input.label}}
                                  <!-- <input type="text" *ngIf="input.type=='text'" [id]="input.identifier" [value]="process.values[input.identifier]" (keyup)="setProcessValue(input.identifier, $event.target.value)" (change)="setProcessValue(input.identifier, $event.target.value)"/> -->
                                  <input type="checkbox" *ngIf="input.type=='checkbox'" [id]="input.identifier" [checked]="process.value[input.identifier]" (change)="setProcessValue(input.identifier, $event.target.checked)"/>
                                  <!-- <button class="btn" (click)="openFileBrowser()">Files: All</button> -->
                                </label>
                        </form>
                    </ng-template>
                  </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-lg-6" data-query="view(Mooo)">
        <h4>Avaliable processes</h4>
        <div class="card">
             <div class="card-header">
                Name
             </div>
             <ng-template
             ngFor
             let-module
             [ngForOf]="modules"
             >
             <div *ngIf="!module.hidden" class="list-group list-group-flush">
                 <div draggable="true" (dragstart)="dragStart($event, module.module_id, 'module')" (dragend)="onRelease($event)" class="list-group-item list-group-item-action">
                   <div class="d-flex w-100 justify-content-between">
                    <p style="margin-bottom:0;" class="d-flex w-100 noselect">{{module.name}}</p>
                    <i class="material-icons icon-button" (click)="addProcessLast(module.module_id)">add</i>
                   </div>
                </div>
             </div>
           </ng-template>
        </div>
    </div>
</div>
<button class="btn btn-success float-right" (click)="startWorkflow()">Start</button>

<!-- <button class="btn" (click)="FileBrowserOpen = !FileBrowserOpen">Files: All</button>
<FileBrowser [(active)]="FileBrowserOpen" [package_id]="id"> </FileBrowser> -->
