<h4>Select a template to set as a startingpoint for this package</h4>

<table class="table table-striped table-hover" style="background-color: white;">
  <thead class="company-table-head">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let template of templates">
      <td>
        {{template.name}}
      </td>
      <td class="small-column">
        <!-- <a [routerLink]="[package.package_id, 'status']">{{package.status}}</a> -->
        <button class="btn btn-success" (click)="selectTemplate(template)">Select</button>
        <button class="btn btn-secondary" *ngIf="template.template_id!=2">Start</button>
      </td>
    </tr>
  </tbody>
</table>
