.icon-button:hover {
  background-color: #b5b5b5;
    border-radius: 2px;
    color: white;
}

.input-label {
  width: 100%;
}

.template {
  opacity: 0.4;
}

.emptyList {
  height: 400px;
  width: 100%;
  background-color: #ddd;
  display: table;
  padding: 0px 40px;
}


.emptyList p {
  display: table-cell;
  vertical-align: middle;
  color: #444;
}

.emptyList i {
  /* display: table-cell;
  vertical-align: middle;
  color: #444; */
}
