*.egg-info
*.pot
*.pyc
__pycache__
db.sqlite3
a.out
paket/
venv/
workdir/
log/
.DS_Store
*/migrations/
static_root/
node_modules/
.vscode/
static/angular

*.tar
*.zip


static_files/
./packages/
test_packages/
workdir/
