[submodule "app_worker_base"]
	path = worker_containers/app-worker-base
	url = https://github.com/Sydarkivera/APP-worker-base

[submodule "app_unoconv_worker"]
  path = worker_containers/app-unoconv-worker
  url = https://github.com/Sydarkivera/app-worker-unoconv

[submodule "app_verapdf_worker"]
  path = worker_containers/app-verapdf-worker
  url = https://github.com/Sydarkivera/app-worker-verapdf

[submodule "app_droidd_worker"]
  path = worker_containers/app-worker-droid
  url = https://github.com/Sydarkivera/app-worker-droid