<navbar></navbar>


    <h1 class="h2">Dashboard</h1>


<!-- <p>Dashbaord 2</p> -->
<i class="material-icons">account_circle</i>
<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>
<ngx-charts-gauge
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [min]="0"
  [max]="100"
  [angleSpan]="240"
  [startAngle]="-120"
  [units]="'alerts'"
  [bigSegments]="10"
  [smallSegments]="5"
  (select)="onSelect($event)">
</ngx-charts-gauge>
