<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="dashboard">
                  <i class="material-icons">dashboard</i>
                  Dashboard
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="packages">
                  <i class="material-icons">pages</i>
                  Packages
                </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Admin</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="admin/modules">
                  <i class="material-icons">category</i>
                  Tools
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="admin/global">
                  <i class="material-icons">tune</i>
                  Global Settings
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="admin/processes">
                  <i class="material-icons">layers</i>
                  Default processes
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link company" routerLinkActive="active" routerLink="admin/templates">
                  <i class="material-icons">format_list_numbered</i>
                  Templates
                </a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-view">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
