

<div class="container">
  <h1><a href="/">Home</a></h1>
  <img class="logga" src="static/img/logga.jpg"/>
  <ul class="nav nav-tabs">
    <li class="nav-link"  routerLinkActive="active">
      <a class="navbar-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-link" routerLinkActive="active">
      <a class="navbar-link" routerLink="packages">Packages</a>
    </li>
    <li class="nav-link" routerLinkActive="active">
      <a class="navbar-link" routerLink="admin">Admin</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
