<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="{% static "js/jquery-3.2.1.js" %}"></script> -->
    <!-- <script src="{% static "js/bootstrap.min.js" %}"></script> -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"></style>
    <title>127.0.0.1</title>
  </head>

  <body aurelia-app="main" start="index">
    <script src="{% static "vendor-bundle.js" %}" data-main="aurelia-bootstrapper"></script>
  </body>
</html>

<!-- <!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static "js/blocks.js" %}"></script>
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"></style>
    <script src="{% static "index/main.js" %}"></script>
  </head>
  <body>
    <div class="container">
        <h1>Toolkit</h1>
        <p>
            Lite bedskrivande text
        </p>
        {%verbatim%}
        <div class="card">
             <div class="card-header">
                 <div class="row">
                     <div class="col">
                        Label
                     </div>
                     <div class="col">
                        Filnamn
                     </div>
                 </div>
             </div>
             <div class="list-group list-group-flush" data-query="each(packages)">
                 <a href="package/{{$this.package_id}}"  class="list-group-item list-group-item-action">
                     <div class="col">
                        {{$this.name}}
                    </div>
                    <div class="col">
                        {{$this.file_name}}
                    </div>
                </a>
             </div>
        </div>
        {%endverbatim%}
    </div>
  </body>
</html> -->
