<message [(active)]="messageActive" duration="4000">{{messageText}}</message>

<h4>Package status: {{package.status}}</h4>
<table class="table table-striped table-hover" style="background-color: white;">
  <thead class="company-table-head">
    <tr>
      <th>Name</th>
      <th>Statusbar</th>
      <th>Status</th>
      <th>Log</th>
      <th>
        Error
        <button class="refresh" (click)="updateData()"><i class="material-icons">refresh</i></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let process of package.processes">
      <td class="align-middle">
        {{process.name}} {{process.hidden ? '(Hidden)' : ''}}
      </td>
      <td class="align-middle">
        <div class="progress border border-primary">
          <div class="progress-bar text-dark text-center"
          [class.bg-success]="process.status == 'Done'"
          [class.bg-danger]="process.status == 'Error'"
          [class.progress-bar-animated]="process.status == 'Running'"
          [class.progress-bar-striped]="process.status == 'Running'"
          [style.width]="process.progress + '%'">{{process.progress}}%</div>
        </div>
      </td>
      <td class="align-middle">{{process.status}}</td>
      <td class="align-middle"><button class="btn btn-outline-primary" (click)="showModal(process, 'info_log')" [disabled]="process.log_path == ''">Open log</button></td>
      <td class="align-middle" style="max-width: 100px">
          <button class="btn btn-danger"
                (click)="showModal(process, 'error_log')"
                [disabled]="process.status != 'Error' && process.errors.length <= 0"
                [class.btn-outline-danger]="process.errors.length <= 0">
                Errors: {{process.errors.length}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success float-right" (click)="startWorkflow()" *ngIf="package.status != 'Finished'">
  Start
  <i class="material-icons my-auto align-middle icon-small">play_arrow</i>
</button>
<button class="btn btn-warning float-right" (click)="finishPackage()" *ngIf="package.status != 'Finished'">
  Done
  <!-- <i class="material-icons my-auto align-middle icon-small">done</i> -->
</button>
<button class="btn btn-warning float-right" (click)="abortProcess()">abort/pause</button>
<button class="btn btn-danger float-right" (click)="removePackage()">
  Delete
  <i class="material-icons my-auto align-middle icon-small">delete</i>
</button>


<!-- Modal for logfile display -->
<modal [(active)]="modalactive" title="Complete log">
  <div modal-body style="margin-bottom: 10px">
    <div class="loading mx-auto" *ngIf="modalLoading"></div>
    <!-- <div *ngIf="modalType == 'info'" [innerHTML]="modalData" style="white-space: pre-wrap;"></div> -->
    <div class="list-group">
      <div *ngFor="let error of modalData" class="list-group-item list-group-item-action selection-header">
        <div class=" d-flex justify-content-between" (click)="error.expanded = !error.expanded">
          <p class="">{{error.file}}</p>
          <i *ngIf="!error.expanded" class="material-icons my-auto">keyboard_arrow_right</i>
          <i *ngIf="error.expanded" class="material-icons my-auto">keyboard_arrow_down</i>
        </div>
        <div *ngIf="error.expanded" class="selection-header">
          <p [innerHTML]="sanitizeLog(error.log)" style="white-space: pre-wrap;">
          </p>
        </div>
      </div>
    </div>
  </div>
</modal>
