.refresh {
  background-color: transparent;
  border: 0;
  color: white;
  /* margin-left: 80px; */
  float:right;
  color: inherit;
}

.table {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sydarkiverathead {
    border: none;
    background-color: #bc044e;
    /* color: #bc044e; */
    color: #eee;
}

/* tr { */

  /* background-color: #bc044e; */
  /* color: #bc044e; */
/* } */
