<div class="modal" [class.active]="active" id="modal">
  <div class="main-modal modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FileBrowser</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let level of levels; let i = index" class="level">
          <div
            *ngFor="let file of level"
            class="file"
            [class.selected]="file.name == selected[i]"
            (contextmenu)="openContextMenu($event, i, file)"
            (click)="openNewLevel(i, file)"
            >
            <!-- <file [file]="file" [path]="path" [specific_path]="file.name + '/'"></file> -->
            <i class="material-icons align-middle" *ngIf="file.type == 'folder'">folder</i>
            <i class="material-icons align-middle" *ngIf="file.type == 'file'">insert_drive_file</i>
            <p class="align-middle">
              {{file.name}}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="openUploadModal()">Upload file</button>
        <button *ngIf="selectedFile != undefined" type="button" class="btn btn-warning" (click)="openRenameModal()">Rename</button>
        <button *ngIf="selectedFile != undefined" type="button" class="btn btn-danger" (click)="openDeleteModal()">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>

    <!-- Popup window inside modal -->
    <div class="popUpQuestion modal" *ngIf="innerModalVisible">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="innerModalType == 'delete'" class="modal-title">Delete</h5>
            <h5 *ngIf="innerModalType == 'rename'" class="modal-title">Rename</h5>
            <h5 *ngIf="innerModalType == 'create'" class="modal-title">Create new folder</h5>
            <h5 *ngIf="innerModalType == 'upload'" class="modal-title">Upload a file</h5>
            <button type="button" class="close" (click)="closeInnerModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p *ngIf="innerModalType == 'delete'">
              Are you sure you want to delete "{{selectedFile.name}}"? All it's content will permanently be deleted.
            </p>
            <div class="form-group" *ngIf="innerModalType == 'rename'">
              <label for="inputName">New name</label>
              <input type="text" class="form-control" id="inputName" placeholder="New file name" [(ngModel)]="innerModalValue">
            </div>
            <div class="form-group" *ngIf="innerModalType == 'create'">
              <label for="inputName">Folder name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Folder name" [(ngModel)]="innerModalValue">
            </div>
            <div *ngIf="innerModalType == 'upload'" class="custom-file" id="customFile" lang="en">
              <input type="file" class="custom-file-input" id="exampleInputFile" (change)="onFileSelected($event)" name="import">
              <label class="custom-file-label" for="exampleInputFile" >
                {{innerModalValue}}
              </label>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button *ngIf="innerModalType == 'delete'" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
            <button *ngIf="innerModalType == 'rename'" type="button" class="btn btn-success" (click)="rename()">Rename</button>
            <button *ngIf="innerModalType == 'create'" type="button" class="btn btn-success" (click)="create()">Create</button>
            <button *ngIf="innerModalType == 'upload'" type="button" class="btn btn-success" (click)="uploadFile()">Upload</button>
            <button type="button" class="btn btn-secondary" (click)="closeInnerModal()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="modal-background" (click)="closeInnerModal()"></div>
    </div>
  </div>
  <div class="modal-background" (click)="closeModal()"></div>
</div>

<div class="contextMenu" *ngIf="contextMenuPos.x != -1" [ngStyle]="{'left.px': contextMenuPos.x, 'top.px': contextMenuPos.y}">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-header">
      <i class="material-icons align-middle float-left" *ngIf="selectedFile.type == 'folder'">folder</i>
      <i class="material-icons align-middle float-left" *ngIf="selectedFile.type == 'file'">insert_drive_file</i>
      <p class="float-left">{{selectedFile.name}}</p>
    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="openRenameModal()">Rename</a>
    <a class="dropdown-item" [href]="getDownloadPath()" target="_blank">Download</a>
    <a class="dropdown-item" (click)="openDeleteModal()">Delete</a>
    <a class="dropdown-item" (click)="openUploadModal()">upload file</a>
    <a class="dropdown-item" (click)="openCreateFolderModal()">Create folder</a>
  </div>
</div>
