<message duration="10000" [(active)]="errorVisible" type="alert-danger">
  <i class="material-icons align-middle">warning</i> The tool could not be removed since it is in use by one or more packages or templates.
</message>

<div class="row">

  <!-- Existing tools, left side -->
  <div class="col-lg-6">
    <h4>Existing Tools</h4>
    <div class="card">
      <div class="card-header company-table-head">
        Name
      </div>
      <div class="list-group list-group-flush">
        <div *ngFor="let image of images" class="list-group-item list-group-item-action" (click)="selectImage(image)" [class.active]="image.id == selected_image.id">
          <div class="d-flex w-100 justify-content-between">
            <p style="margin-bottom:0;" class="d-flex w-100 noselect">{{image.label}}</p>
            <i class="material-icons icon-button" (click)="deleteImage(image)">delete</i>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" (click)="openNewImageModal()">Add new docker image</button>
    <a *ngIf="selected_image.id != -1" class="btn btn-secondary" href="/api/image/{{selected_image.id}}/export/">Export image</a>
  </div>

  <!-- Detail view of tool -->

  <div class="col-lg-6" *ngIf="selected_image.id != -1">
    <div class="card">
      <div class="card-header">
        <h5 style="float:left">Settings</h5>
        <button class="btn btn-success" (click)="save()" style="float:right">Save</button>
      </div>
      <div class="card-body">
        <message duration="3000" [(active)]="saveSuccess">All changes have been saved!</message>
        <div class="form-group">
          <label for="inputLabel">Name of the image (display name)</label>
          <input type="text" class="form-control" id="inputLabel" placeholder="DROID" [(ngModel)]="selected_image.label">
        </div>
        <div class="form-group">
          <label for="inputname">Image tag (This is the docker-name of the image, added with --tag when an image is created)</label>
          <input type="text" class="form-control" id="inputname" placeholder="droid" [(ngModel)]="selected_image.name">
        </div>
        <div class="form-group">
          <label for="inputMount">Mount point of forkdir inside image.</label>
          <input type="text" class="form-control" id="inputMount" placeholder="/workdir/" [(ngModel)]="selected_image.mountpoint">
        </div>
        <button class="btn btn-success" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>


<modal [(active)]="modalactive" title="Upload new docker image">
  <div modal-body>
    <div class="alert alert-info" *ngIf="modalMessage">
      Uploading image, {{uploadDone}}/{{uploadTotal}}
    </div>
    <div class="form-group">
      <label for="inputLabel">Name of the image (display name)</label>
      <input type="text" class="form-control" id="inputLabel" placeholder="i.e. DROID" [(ngModel)]="newLabel">
    </div>

    <label for="inputLabel">Docker image. (generated with docker save)</label>
    <div class="custom-file" id="customFile" lang="en">
      <input type="file" class="custom-file-input" id="exampleInputFile" (change)="fileSelected($event)" name="import.tar">
      <label class="custom-file-label" for="exampleInputFile" [class.border-success]="fileStatus==2" [class.border-danger]="fileStatus==1">
        {{fileName}}
      </label>

    </div>
    <button class="btn btn-success" type="submit" (click)="importImage()">Save</button>
  </div>


</modal>
