<div class="row">
  <div class="col-lg-4">
    <h4>Existing Tools</h4>
    <div class="card">
      <div class="card-header company-table-head">
        Name
      </div>
      <div class="list-group list-group-flush">
        <div *ngFor="let module of modules" class="list-group-item list-group-item-action" (click)="selectModule(module)">
          <div class="d-flex w-100 justify-content-between">
            <p style="margin-bottom:0;" class="d-flex w-100 noselect">{{module.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8" *ngIf="selected_module">
    <h4>{{title}}</h4>
    <div *ngIf="selected_module.form.length > 0">
      <label *ngFor="let input of selected_module.form" for="{{input.identifier}}" class="input-label">
        {{input.label}}
        <!-- <input type="text" *ngIf="input.type=='text'" [id]="input.identifier" [value]="process.values[input.identifier]" (keyup)="setProcessValue(input.identifier, $event.target.value)" (change)="setProcessValue(input.identifier, $event.target.value)"/> -->
        <input type="checkbox" *ngIf="input.type=='checkbox'" [id]="input.identifier" [checked]="input.default" (change)="setProcessValue(input.identifier, $event.target.checked)"/>
      </label>
      <button class="btn btn-success">Save as default values</button>
    </div>

    <h5 style="display:block; float:left">Settings:</h5>
    <button class="btn btn-success" style="float:right;" (click)="save()">Save changes</button>
    <label class="input-label">
      Name:
      <input type="text" [(ngModel)]="selected_module.name"/>
    </label>
    <label class="input-label">
      Hidden:
      <input type="checkbox" [(ngModel)]="selected_module.hidden"/>
    </label>
    <label class="input-label">
      File filter:
      <input type="text" [(ngModel)]="selected_module.filter"/>
    </label>
    <label class="input-label">
      Form:
    </label>
    <textarea rows="10" [(ngModel)]="formJson">
    </textarea>
    <p class="Error-text">{{formJsonError}}</p>
    <hr>
    <label class="input-label">
      What qualifies succes in the log files:
    </label>
    <div *ngFor="let filter of selected_module.resultFilter">
      <div class="resultFilterItem">
        <select [(ngModel)]="filter.type">
          <option value="Containing">Containing</option>
          <option value="Not containing">Not containing</option>
        </select>
        <input type="text" [(ngModel)]="filter.value"/>
        <i class="material-icons icon-button" (click)="removeResultFilter(filter)">delete</i>
      </div>
    </div>
    <hr>
    <p>Add a new filter</p>
    <div class="resultFilterItem">
      <select [(ngModel)]="newResultFilter.type">
        <option value="Containing">Containing</option>
        <option value="Not containing">Not containing</option>
      </select>
        <input type="text" [(ngModel)]="newResultFilter.value"/>
        <i class="material-icons icon-button" (click)="addResultFilter()">add</i>
      <!-- <button class="btn btn-success" (click)="addResultFilter()">Add Row</button> -->
    </div>
    <!-- <hr> -->
    <p>Avaliable types: checkbox, text (Should I create a ui for configuring the form or should I write documentation?)</p>
    <h6>Command:</h6>
    <label class="input-label">
      type:
      <select [(ngModel)]="selected_module.type">
        <option value="Command">Command</option>
        <option value="Python module">Python module</option>
      </select>
      <i class="material-icons icon-button">warning</i>
    </label>
    <label class="input-label" *ngIf="selected_module.type == 'Command'">
      Command:
      <!-- <input type="text" [value]="getJson(selected_module.command)"/> -->
    </label>
    <textarea rows="10" [(ngModel)]="commandJson" *ngIf="selected_module.type == 'Command'">
    </textarea>
    <label class="input-label" *ngIf="selected_module.type == 'Python module'">
      Python Module:
      <input type="text" [(ngModel)]="selected_module.python_module"/>
    </label>
    <label class="input-label">
      Run on multiple files:
      <input type="checkbox" [(ngModel)]="selected_module.multifile"/>
    </label>
    <button class="btn btn-success" (click)="save()">Save changes</button>
    <button class="btn" (click)="exportModule()">Export</button> <p>Export will export a tar file containing the json strucutre and the python file, if it exists</p>
  </div>
</div>
