<div class="row">
  <!-- Error message for removal of templates in use -->
  <message duration="10000" [(active)]="errorVisible" type="alert-danger">
    <i class="material-icons align-middle">warning</i> The template could not be removed since it is in use by one or more packages.
  </message>
  <!-- list of all templates -->
  <h4 style="clear: both; width: 100%">Templates</h4>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header company-table-head" (drop)="onDrop($event)" (dragover)="allowDropTop($event)">
        Name
      </div>
      <div class="list-group list-group-flush">
        <ng-template ngFor let-template [ngForOf]="templates">
          <div class="list-group-item list-group-item-action" [class.active]="template.template_id==selected_template_id">
            <div class="d-flex w-100 justify-content-between">
              <p style="margin-bottom:0;" class="d-flex w-100 noselect" (click)="selectTemplate(template)">
                {{template.name}}
              </p>
              <!-- <i class="material-icons">arrow_back</i> -->
              <i class="material-icons icon-button" (click)="deleteTemplate(template)" *ngIf="template.template_id > 1">delete</i>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <button class="btn btn-success" (click)="createTemplateModal()">Create new template</button>
  </div>

  <!-- Basic settings in a template (Only name at this time) -->
  <div class="col-lg-6">
    <div class="card" *ngIf="selected_template_id != -1">
      <div class="card-header">
        <h5 style="float:left">Settings</h5>
        <button class="btn btn-success" (click)="save()" style="float:right">
          Save changes
          <i class="material-icons my-auto align-middle icon-small">save</i>
        </button>
      </div>
      <div class="card-body">
        <message duration="3000" [(active)]="messageVisible">All changes have been saved!</message>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" [(ngModel)]="selected_template.name" placeholder="Virus scanning - ClamAV">
        </div>
        <button class="btn btn-success float-right" (click)="save()">
          Save
          <i class="material-icons my-auto align-middle icon-small">save</i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Processes and tools inside the template. Much like the Package.component.ts view -->
<div class="row" *ngIf="selected_template_id != -1">
  <div class="col-lg-6" *ngIf="selected_template_id != -1">
    <h4>Tools in {{selected_template.name}}</h4>
    <div class="card">
      <div class="card-header company-table-head" (dragover)="allowDropTop($event)" (drop)="onDrop($event)">
        Name
      </div>
      <ng-template ngFor let-process [ngForOf]="selected_template.processes">
        <div class="list-group list-group-flush">
          <div draggable="true" (dragstart)="dragStart($event, process.process_id, 'template', process.name)" (drop)="onDrop($event)" (dragover)="allowDrop($event, process.order)" class="list-group-item list-group-item-action" [class.active]="process.process_id==selected_process_id"
              [class.placeholder]="process.type=='placeholder'">
            <div class="d-flex w-100 justify-content-between">
              <p style="margin-bottom:0;" class="d-flex w-100 noselect" (click)="selectProcess(process)">
                {{process.name}}
              </p>
              <!-- <i class="material-icons">arrow_back</i> -->
              <i *ngIf="process.order != 0" class="material-icons icon-button" (click)="moveUp(process)">keyboard_arrow_up</i>
              <i *ngIf="process.order < selected_template.processes.length-1" class="material-icons icon-button" (click)="moveDown(process)">keyboard_arrow_down</i>
              <i class="material-icons icon-button" (click)="deleteProcess(process)">delete</i>
              <i class="material-icons drag-handle">drag_handle</i>
            </div>
            <ng-template [ngIf]="process.process_id==selected_process_id">
              <form *ngIf="process.form.length>0">
                <div class="form-group" *ngFor="let input of process.form">
                  <div class="form-check" *ngIf="input.type=='checkbox'">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      *ngIf="input.type=='checkbox'"
                      [id]="input.identifier"
                      [checked]="getProcessValue(input.identifier)"
                      (change)="setProcessValue(input.identifier, $event.target.checked)"
                      />
                    <label class="form-check-label" for="{{input.identifier}}">
                      {{input.label}}
                    </label>
                  </div>
                  <ng-template [ngIf]="input.type=='text'">
                    <label for="{{input.identifier}}">{{input.label}}</label>
                    <input
                      type="text"
                      class="form-control"
                      [id]="input.identifier"
                      placeholder="{{input.identifier}}"
                      [value]="getProcessValue(input.identifier)"
                      (change)="setProcessValue(input.identifier, $event.target.value)"
                      (keyup)="setProcessValue(input.identifier, $event.target.value)"
                      >
                  </ng-template>
                </div>
                <!-- <label *ngFor="let input of process.form" for="{{input.identifier}}" class="input-label">
                  {{input.label}}
                  <input type="checkbox" *ngIf="input.type=='checkbox'" [id]="input.identifier" [checked]="process.value[input.identifier]" (change)="setProcessValue(input.identifier, $event.target.checked)"/>
                </label> -->
              </form>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Tool/Modules list -->
  <div class="col-lg-6">
    <h4>Avaliable Tools</h4>
    <div class="card">
      <div class="card-header company-table-head">
        Name
      </div>
      <ng-template ngFor let-module [ngForOf]="modules">
        <div class="list-group list-group-flush">
          <div draggable="true" (dragstart)="dragStart($event, module.module_id, 'module', module.name)" (dragend)="onRelease($event)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <p style="margin-bottom:0;" class="d-flex w-100 noselect">{{module.name}}</p>
              <i class="material-icons icon-button" (click)="addProcessLast(module.module_id)">add</i>
              <i class="material-icons drag-handle">drag_handle</i>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Modal for creation of new templates -->
<modal [(active)]="createModalActive" title="Create a new template">
  <div modal-body>
    <h5>Enter the name of the new template</h5>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" [(ngModel)]="newTemplateName" placeholder="Virus scanning - ClamAV">
    </div>
    <button class="btn btn-success float-right" (click)="createNewTemplate()">Create</button>
  </div>
</modal>
