<div class="row">
  <label class="input-label">
    Working directory:
    <input type="text" [(ngModel)]="workDir" tooltip="A directory where temporary project files to be stored while they are in use in A.P.P" tooltipPlacement="right"/>
  </label>
  <label class="input-label">
    Packages directory:
    <input type="text" tooltip="The location of packages to be included in A.P.P. i.e. Workarea in EPP" tooltipPlacement="right"/>
  </label>
  <label class="input-label">
    Premis XML file:
    <input type="text"/>
  </label>
  <label class="input-label">
    Mets XML file:
    <input type="text"/>
  </label>
  <label class="input-label">
    Name:
    <input type="text"/>
  </label>
</div>
