<navbar>
  <li class="nav-link"  routerLinkActive="active">
    <a class="navbar-link" [routerLink]="['modules']">Modules</a>
  </li>
  <li class="nav-link" routerLinkActive="active">
    <a class="navbar-link" [routerLink]="['global']">Global Settings</a>
  </li>
  <li class="nav-link" routerLinkActive="active">
    <a class="navbar-link" [routerLink]="['processes']">Default processes</a>
  </li>
</navbar>

<!-- <ul class="nav nav-tabs"> -->

  <!-- <li class="nav-link" routerLinkActive="active">
    <a class="navbar-link" [routerLink]="['status']">Status</a>
  </li> -->
<!-- </ul> -->
<router-outlet></router-outlet>
